workflwo/personal-automation-runner.json
{
  "name": "Personal Automation - Run Research (Webhook: runId) [LangChain+Perplexity+Gemini]",
  "nodes": [
    {
      "parameters": {
        "path": "learn-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4736,
        244
      ],
      "id": "f15de002-2b0e-48af-b777-fe1950d89c9e",
      "name": "Webhook (runId)",
      "webhookId": "cdb75f0e-5a33-4d36-a9c1-6a4512f23b59"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3c9e2a5-2c27-4c35-90d2-fb6d6b6a8e42",
              "name": "baseUrl",
              "value": "https://personal-automation.vercel.app",
              "type": "string"
            },
            {
              "id": "2d5e7c4b-1b10-4f0b-9c33-0199fbbb8e8a",
              "name": "runId",
              "value": "={{$json.query.runId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4512,
        244
      ],
      "id": "970e2741-41c8-4d2e-b742-bfd98d6834d3",
      "name": "Init"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/api/v1/run/{{$json.runId}}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4288,
        244
      ],
      "id": "8aad073d-5ba5-41c1-8707-73df1ca5f2d5",
      "name": "Get Run (no auth)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d81f3ae-526f-4481-9cf7-06dd7f854aae",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4064,
        244
      ],
      "id": "4446afdd-ebf0-4d75-9ae9-de8236d9c521",
      "name": "Run OK?"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nif (!body || !body.id) {\n  return [{ json: { error: 'Run not found or invalid response', details: $json } }];\n}\nconst entries = body.entries || [];\nconst entry_ids = entries.map(e => e.id);\nreturn [{ json: { run: body, entries, entry_ids } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        368
      ],
      "id": "85a26b0c-66a9-4e40-be3a-51a21c70ed0c",
      "name": "Extract Run"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node['Extract Run'].json.entries.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3616,
        368
      ],
      "id": "71dd6bdf-6a22-40f8-bf5f-dd771cd2690a",
      "name": "Has Entries?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.details.entries }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a research assistant. Convert the provided JSON array of entries into a JSON array named \"cards\". Each card MUST include: \"entry_id\", \"title\", \"why_it_matters\" (1–2 sentences), \"refined_question\" (make it as detailed, specific, and searchable as possible), and \"keywords\" (an array of strings). Output ONLY valid JSON. Do not skip any details."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3392,
        116
      ],
      "id": "bf42001e-7ef2-4f0c-99a8-0ccbfeb26507",
      "name": "Basic LLM Chain (Groq Cards)"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3320,
        340
      ],
      "id": "5e9af0ee-891c-4c15-b030-cec8620eb34d",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "zpyKK3aC3kQssNq5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pickText = (obj) => {\n  // Common shapes from AI nodes/templates\n  return obj?.text || obj?.output || obj?.response || obj?.data?.text || obj?.result || '';\n};\n\nconst raw = $json;\nconst content = pickText(raw);\nif (!content || typeof content !== 'string') {\n  return [{ json: { error: 'Groq chain returned no text content', raw } }];\n}\n\nlet cards;\ntry {\n  cards = JSON.parse(content);\n} catch (e) {\n  // Sometimes the chain wraps JSON in text; try a last-resort extraction\n  const m = content.match(/\\[[\\s\\S]*\\]/);\n  if (m) {\n    try { cards = JSON.parse(m[0]); } catch (e2) {\n      return [{ json: { error: 'Failed to parse cards JSON', parseError: e2.message, rawText: content } }];\n    }\n  } else {\n    return [{ json: { error: 'Failed to parse cards JSON', parseError: e.message, rawText: content } }];\n  }\n}\n\nreturn [{ json: { cards } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3040,
        220
      ],
      "id": "6b66e9a3-d325-4617-92dc-a11e760a73cd",
      "name": "Parse Cards JSON"
    },
    {
      "parameters": {
        "jsCode": "const cards = $json.cards || [];\nconst combined = cards.map((c, i) => `${i + 1}. ${c.refined_question}`).join('\\n');\nreturn [{ json: { cards, combinedQuery: combined } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        220
      ],
      "id": "a0e681d6-4b42-4962-b1f5-96c9f375d975",
      "name": "Build Perplexity Query"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "For each numbered question, gather detailed raw information and include sources/URLs when possible.",
              "role": "system"
            },
            {
              "content": "={{$node['Build Perplexity Query'].json.combinedQuery}}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -2592,
        220
      ],
      "id": "d544eef1-8677-47b4-8652-831be1134d04",
      "name": "Perplexity Research",
      "credentials": {
        "perplexityApi": {
          "id": "3lHjwQludnHPzjhC",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\nconst text = raw?.text || raw?.content || raw?.choices?.[0]?.message?.content || raw?.data?.text || '';\nconst citations = raw?.citations || raw?.search_results || raw?.sources || [];\nreturn [{ json: { perplexityText: text, citations } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        220
      ],
      "id": "7f53ce36-d450-4c17-a173-dbeb9ef7b994",
      "name": "Extract Perplexity"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a tutorial-style markdown report.\n\nRules:\n- Use ## headings per topic.\n- Explain simply.\n- Keep it readable.\n- Add a short Sources section at the end with URLs.\n\nmy original question : {{ $('Build Perplexity Query').item.json.combinedQuery }}\n\nResearch cards (JSON):\n{{JSON.stringify($node['Build Perplexity Query'].json.cards)}}\n\nRaw research findings:\n{{$node['Extract Perplexity'].json.perplexityText}}\n\nCitations JSON:\n{{JSON.stringify($node['Extract Perplexity'].json.citations)}} "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2144,
        220
      ],
      "id": "8b9ffaaf-0a23-46ca-ace6-e9fe0b5e7c77",
      "name": "Gemini -> Markdown",
      "credentials": {
        "googlePalmApi": {
          "id": "F5kdws7n8N8OQzMN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[0];\nconst markdown = raw?.text || raw?.content || raw?.candidates?.[0]?.content?.parts?.[0]?.text || raw?.data?.text || raw?.output || '';\nif (!markdown || typeof markdown !== 'string') {\n  return [{ json: { error: 'Gemini returned no markdown', raw } }];\n}\nreturn [{ json: { markdown } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        220
      ],
      "id": "45f575eb-c1b3-45aa-995a-f6f6e55da008",
      "name": "Extract Markdown"
    },
    {
      "parameters": {
        "jsCode": "const run = $('Extract Run').first().json.details;\nconst entry_ids = $('Extract Run').first().json.details.entries.map(e => e.id);\nconst sources = $('Perplexity Research').first().json.citations;\nconst markdown = $input.first().json.markdown;\n\nconst card = $('Build Perplexity Query').first().json.cards[0];\nconst title = card.title;\nconst whyItMappters = card.why_it_matters;\n\nconst markdown_content = [\n  `## whyItMappters`,\n  `${whyItMappters || ''}`,\n  '',\n  `## Report`,\n  `${markdown || ''}`,\n  ''\n].join('\\n');\n\nreturn {\n  summary: title || '',\n  markdown_content,\n  entry_ids: entry_ids,\n  run_id: run.id,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        220
      ],
      "id": "cfc77366-8235-45b4-ac94-ef0d8d18492c",
      "name": "Prepare Report Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node['Init'].json.baseUrl}}/api/v1/report",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "markdown_content",
              "value": "={{ $json.markdown_content }}"
            },
            {
              "name": "entry_ids",
              "value": "={{ $json.entry_ids }}"
            },
            {
              "name": "run_id",
              "value": "={{ $json.run_id }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        220
      ],
      "id": "5c59de19-f3e4-4908-a683-d68ffc4855a0",
      "name": "Save Report (no auth)"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        220
      ],
      "id": "1fd56f35-6f4d-4161-b839-5e07b78b1f6a",
      "name": "Report Saved?"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { report_id: $input.first().json.report_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        268
      ],
      "id": "11d79266-c0dd-4597-8300-3011a97185b9",
      "name": "Extract Report ID"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$node['Init'].json.baseUrl}}/api/v1/run/{{ $('Extract Run').item.json.details.id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "completed"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        268
      ],
      "id": "63ceddfd-7a57-4706-928e-f1f5605ee386",
      "name": "Update Run -> completed (no auth)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"run_id\": \"{{$node['Init'].json.runId}}\",\n  \"report_id\": \"{{ $('Extract Report ID').item.json.report_id }}\",\n  \"entries_processed\": {{ $('Prepare Report Payload').item.json.entry_ids.length }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -448,
        268
      ],
      "id": "41de4342-7e78-4c2f-aedf-89798995d024",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$node['Init'].json.baseUrl}}/api/v1/run/{{$node['Init'].json.runId}}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3328,
        516
      ],
      "id": "9c9edfb1-5481-4171-848f-bcea70f9340f",
      "name": "Update Run -> completed (no entries, no auth)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"run_id\": \"{{$node['Init'].json.runId}}\",\n  \"message\": \"No pending entries to process\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3040,
        516
      ],
      "id": "9ab00bd4-b14b-47ee-8b9b-7c411c363fd8",
      "name": "Respond No Work"
    },
    {
      "parameters": {
        "jsCode": "const runId = $node['Init'].json.runId;\nconst err = $json.error || 'Workflow failed';\nreturn [{ json: { runId, error: err } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        0
      ],
      "id": "972e3b8f-3d3d-4eda-aa44-e09e3c451224",
      "name": "Prepare Error"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$node['Init'].json.baseUrl}}/api/v1/run/{{$node['Init'].json.runId}}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        0
      ],
      "id": "88b22531-f23d-41f5-9875-c8b565d4baee",
      "name": "Update Run -> failed (no auth)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"run_id\": \"{{$node['Init'].json.runId}}\",\n  \"error\": \"={{$node['Prepare Error'].json.error}}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -448,
        0
      ],
      "id": "8baeea74-67e5-4d53-87b0-b0eb5b26ab75",
      "name": "Respond Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (runId)": {
      "main": [
        [
          {
            "node": "Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init": {
      "main": [
        [
          {
            "node": "Get Run (no auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run (no auth)": {
      "main": [
        [
          {
            "node": "Run OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run OK?": {
      "main": [
        [
          {
            "node": "Extract Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run": {
      "main": [
        [
          {
            "node": "Has Entries?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Entries?": {
      "main": [
        [
          {
            "node": "Basic LLM Chain (Groq Cards)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Run -> completed (no entries, no auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain (Groq Cards)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain (Groq Cards)": {
      "main": [
        [
          {
            "node": "Parse Cards JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cards JSON": {
      "main": [
        [
          {
            "node": "Build Perplexity Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Perplexity Query": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Extract Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Perplexity": {
      "main": [
        [
          {
            "node": "Gemini -> Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini -> Markdown": {
      "main": [
        [
          {
            "node": "Extract Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Markdown": {
      "main": [
        [
          {
            "node": "Prepare Report Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Report Payload": {
      "main": [
        [
          {
            "node": "Save Report (no auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report (no auth)": {
      "main": [
        [
          {
            "node": "Report Saved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Saved?": {
      "main": [
        [
          {
            "node": "Extract Report ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report ID": {
      "main": [
        [
          {
            "node": "Update Run -> completed (no auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run -> completed (no auth)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run -> completed (no entries, no auth)": {
      "main": [
        [
          {
            "node": "Respond No Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error": {
      "main": [
        [
          {
            "node": "Update Run -> failed (no auth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Run -> failed (no auth)": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57f84629-61c2-49a7-9e0e-a340e851d008",
  "meta": {
    "instanceId": "b72d34960c1ebf40f3d5b336f5ef34675ab063d7a51ff0f5edab0a347f8670c1"
  },
  "id": "66z05N8EyuQKVeJE",
  "tags": []
}